/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  font-family: "lato", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

/* Page Template */

header {
  color: white;
  display: flex;
  justify-content: center;
  background-color: rgb(8, 62, 168);
}

footer {
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.max-width {
  max-width: 1025px;
  width: 100%;
}

.inner-max-width {
  max-width: 500px;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.main {
  min-height: calc(100vh - 160px);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

/* Heading Bar */

.header-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 70%;
}

.header-link {
  color: white;
}

.header-nav-links {
  display: flex;
  justify-content: space-between;
}

.header-link,
.header-link:active,
.header-link:link,
.header-link:visited {
  color: white;
  font-weight: 300;
  transition: 0.2s;
  font-size: 20px;
  font-weight: 300;
}

.header-link:hover {
  color: rgb(30, 225, 140);
}

.header-link > h1 {
  font-size: 26px;
  font-weight: 700;
  transition: 0.2s;
}

.header-link > h1:hover {
  font-size: 26px;
  font-weight: 700;
  color: rgb(255, 201, 69);
}

.header-button {
  border: none;
  border-radius: 5px;
  background-color: rgba(30, 225, 140, 0.8);
  transition: 0.2s;
  cursor: pointer;
  padding: 5px;
}

.header-button:hover {
  background-color: rgba(30, 225, 140, 1);
}

.login-signup > a,
.login-signup > a:active,
.login-signup > a:link,
.login-signup > a:visited {
  color: white;
  transition: 0.2s;
}

.login-signup > a:hover {
  text-decoration: underline;
  color: rgb(30, 225, 140);
}

.active,
.active:link,
.active:active,
.active:visited {
  /* Keep at bottom to overwrite */
  font-weight: 400;
  color: rgb(30, 225, 140);
}
/* Session Form */

.login-form-container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  padding: 30px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 500px;
  border: solid 1px black;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form-box > h1 {
  font-size: 24px;
  font-weight: bold;
}

.login-form-box > h3 {
  font-size: 14px;
}

.login-form-box > h2 {
  font-size: 16px;
}

.login-form > input {
  margin: 10px 0;
  width: 100%;
  padding: 5px;
}

/* --- Splash Page --- */

.splash-hero-container {
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(https://s3-us-west-1.amazonaws.com/recruiter-router-dev/pexels-photo-440170.jpeg) no-repeat 50% 0;
	background-size: cover;
	background-attachment: fixed;
	min-height: 75vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.splash-hero-pitch {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	min-height: 35vh;
	padding: 50px;
	border-radius: 10px;
}

.splash-hero-pitch h1 {
	font-size: 56px;
	font-weight: 300;
	color: rgba(30, 225, 140, 1);
}

.splash-hero-pitch h2 {
	font-size: 30px;
	font-weight: 700;
	color: white;
	line-height: 1.25
}

.splash-hero-pitch p {
	font-size: 18px;
	color: white;
	line-height: 1.5;
}

.splash-about-module {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 50px 0;
}

.splash-about-inner {
	display: flex;
	flex-direction: column;
	align-items: space-around;
}

.splash-about-module h1 {
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 30px
}

.splash-about-module h2 {
	font-size: 30px;
	font-weight: 700;
	line-height: 1.25
}

.splash-about-module p {
	font-size: 18px;
	line-height: 1.5;
}

.sequence-box {
	display: flex;
	flex-direction: column;
	align-items: space-around;
	padding: 50px;
	margin: 20px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: rgba(30, 225, 140, 1);
}

.sequence-box i {
	align-self: center;
	margin: 20px 0;
}

/* --- Portfolio Builder --- */
/* Editing Tools */

.editing-tools-container {
	color: white;
	width: 350px;
	padding: 50px 30px 0 30px;
	position: fixed;
	border-radius: 20px;
	z-index: 1;
	background: none;
}

.editing-tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.editing-tools > h1 {
  margin: 10px auto;
  font-size: 30px;
  font-weight: 300;
}

.editing-tools > h2 {
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.save-progress-btn {
  margin: 10px 0;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.editing-tools-tag-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px auto;
}

.editing-tools-tag-form > select {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.editing-tools-tag-form > p {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.editing-tools-tag-form > input {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.editing-tools-tag-form > .text-input {
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  box-sizing: border-box;
  border: none;
}

.submit-portfolio-tag-button {
  margin-top: 8px;
  font-size: 16px;
  font-weight: 700;
  box-sizing: border-box;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  background-color: rgba(30, 225, 140, 0.7);
}

.submit-portfolio-tag-button:hover {
  background-color: rgba(30, 225, 140, 1);
}

.delete-focus-btn {
  margin: 10px 0;
  padding: 8px 0;
  font-size: 16px;
  font-weight: 700;
  background-color: rgba(193, 27, 27, 0.8);
  color: white;
  transition: 0.2s;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.delete-focus-btn:hover {
  background-color: rgba(193, 27, 27, 1);
}

.editing-tools > h3 {
  margin: 10px 0;
  font-size: 20px;
  font-weight: 300;
}

.sections-list {
  margin: 10px 0;
}

.sections-list > li {
  transition: 0.2s;
  cursor: pointer;
  line-height: 1.5;
}

.sections-list > li:hover {
  background-color: rgba(255, 201, 69, 1);
}

.preview-btn {
  margin: 10px 0;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}

.editing-tools-flex-buffer {
  background-color: rgba(24, 170, 209, 1);
  min-width: 350px;
  content: " ";
}

.portfolio-builder-container {
  width: 100%;
}

/* Portfolio Builder Content */

.section-save-button {
	margin: 0 auto 20px auto;
	border: solid 2px rgba(255, 201, 69, 2);
	border-radius: 5px;
	padding: 8px;
	font-size: 16px;
	font-weight: 300;
	background-color: rgba(255, 201, 69, 1);
	transition: 0.2s;
	color: black;
	cursor: pointer;
	display: block;
	align-self: flex-end;
}

.section-save-button:hover {
	border: solid 2px rgba(8, 62, 168, 2);
}

.bold-container {
	border: solid 3px black;
	border-radius: 20px;
	margin: 30px 0;
	background-color: #eee;
}

.spaced-btn {
	margin: 30px 30px 30px 30px;
}

.delete-array-item-btn {
	padding: 8px;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 700;
	background-color: rgba(193, 27, 27, 0.8);
	transition: 0.2s;
	cursor: pointer;
}

.delete-array-item-btn:hover {
	background-color: rgba(193, 27, 27, 1);
}

.new-array-item-btn {
	padding: 8px;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 700;
	background-color: rgba(24, 170, 209, 0.8);
	transition: 0.2s;
	cursor: pointer;
}

.new-array-item-btn:hover {
	background-color: rgba(24, 170, 209, 1);
}

/* Hero */
 .hero-container {
	 color: white;
	 background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://s3-us-west-1.amazonaws.com/recruiter-router-dev/hero-slides/slide2.jpg) no-repeat 50% 0;
	 background-size: 100% auto;
	 width: calc(100vw - 350px);
	 height: calc((100vw - 350px) * 0.468795);

	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 align-items: center;
 }

 .hero-form {
	 border: solid 3px white;
	 min-width: 500px;
	 width: 67%;
	 height: 400px;
	 display: flex;
 	 flex-direction: column;
	 padding: 30px;
	 border-radius: 20px;
	 margin-bottom: 30px;
	 margin-top: 30px;
 }

 .hero-form p {
	 padding: 0 5px;
	 margin: 10px;
 }

 .hero-form > input {
	 background: none;
	 border: solid 1px white;
	 color: white;
	 padding: 10px;
	 border-radius: 10px;
	 text-align: center;
	 margin: 10px;
	 opacity: 0.8;
	 transition: 0.2s;
 }

 .hero-form > input:hover {
	 opacity: 1;
 }

 .hero-form > input:focus {
	 opacity: 1;
	 border-width: 3px;
 }

 .hero-title {
	 height: 20%;
	 font-size: 36px;
 }

 .hero-subtitle {
	 height: 60%;
	 font-size: 24px;
 }

 /* Experience */
  .experience-container {
 	 color: black;
	 padding: 50px;

 	 display: flex;
	 flex-direction: column;
 	 justify-content: center;
 	 align-items: center;
  }

	.experience-container h1 {
		font-size: 30px;
		padding-bottom: 20px;
		text-align: center;
	}

	.focusDescription-form {
		border: solid 3px black;
		background-color: white;
		min-width: 500px;
 	  width: 67%;
		padding: 30px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
	}

	.focusDescription-form > input {
		border: solid 1px rgba(0, 0, 0, 0.6);
		color: rgba(0, 0, 0, 0.6);
		opacity: 0.8;
		padding: 10px;
		border-radius: 10px;
		text-align: center;
		opacity: 0.8;
		transition: 0.2s;
	  font-size: 24px;
	}

	.focusDescription-form > input:hover {
		border: solid 1px rgba(0, 0, 0, 1);
		color: rgba(0, 0, 0, 1);
  }

  .focusDescription-form > input:focus {
		border: solid 3px rgba(0, 0, 0, 1);
		color: rgba(0, 0, 0, 1);
  }

	.focusDescription-form h2, .skill-graphs-form h2, .array-form h2 {
		margin: 15px 0;
		font-size: 18px;
		font-weight: 300;
	}

	.experience-array {
		display: flex;
		justify-content: center;
		margin-bottom: 30px;
	}

	.array-form {
		border: solid 3px black;
		border-radius: 10px;
		background-color: white;
		margin: 30px;
		width: 350px;
		min-height: 200px;
		height: 100%;
		padding: 30px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.new-array-form {
		background-color: rgba(30, 225, 140, 0.3);
	}

	.date-range-container {
		display: flex;
		justify-content: space-around;
	}

	.date-input-container {
		text-align: center;
		font-size: 16px;
		margin: 10px;
	}

	.array-form > input {
		border: solid 1px rgba(0, 0, 0, 0.6);
		color: rgba(0, 0, 0, 0.6);
		padding: 10px;
		border-radius: 10px;
		text-align: center;
		margin: 10px;
		transition: 0.2s;
		font-size: 18px;
	}

	.array-form > input:hover {
	 color: rgba(0, 0, 0, 1);
	 border-color: rgba(0, 0, 0, 1);
	}

	.array-form > input:focus {
	 color: rgba(0, 0, 0, 1);;
	 border-color: rgba(0, 0, 0, 1);
	 border-width: 3px;
	}

	.array-form input:[type=text] {
		word-wrap: normal;
	}

	.experience-hoverDescription {
		height: 100%
	}

	/* Projects */
	 .projects-container {
		color: black;
		padding: 50px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	  background-color: #eee;
	 }

	 .projects-container h1 {
		 font-size: 30px;
		 padding-bottom: 20px;
		 text-align: center;
	 }

	 .project {
		 display: flex;
		 justify-content: space-around;
		 flex-wrap: wrap;
	 }

	 .array-form h2 {
		 text-align: center;
	 }

	 .project-projectDescription {
		 min-height: 100px;
	 }

	/* Skills */
	 .skills-container {
		color: black;
		padding: 50px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	 }

	 .skills-container h1 {
		 font-size: 30px;
		 padding-bottom: 20px;
		 text-align: center;
	 }

	 .skills-content-forms-container {
		 display: flex;
		 width: 67%;
		 justify-content: space-between;
		 margin-top: 30px;
 		 margin-bottom: 30px;
	 }

	 .skill-description-form {
		 width: 60%;
		 flex-grow: 2;
	 }

	 .skill-description-form textarea {
		 width: 100%;
		 padding: 10px;
		 box-sizing: border-box;
		 border: solid 1px rgba(0, 0, 0, 0.6);
		 color: rgba(0, 0, 0, 0.6);
		 border-radius: 10px;
		 transition: 0.2s;
		 font-size: 16px;
		 resize: none;
		 min-height: 200px;
		 height: 100%;
	 }

	 .skill-description-form textarea:hover {
		 border: solid 1px rgba(0, 0, 0, 1);
		 color: rgba(0, 0, 0, 1);
	 }

	 .skill-description-form textarea:focus {
		 border: solid 3px rgba(0, 0, 0, 1);
		 color: rgba(0, 0, 0, 1);
	 }

	 .skill-graphs-form {
		 flex-grow: 1;
		 border: solid 3px black;
 		 border-radius: 10px;
 		 background-color: white;
		 min-width: 30%;
 		 height: 100%;
 		 padding: 30px;
 		 border-radius: 20px;
		 margin-left: 30px;
 		 display: flex;
 		 flex-direction: column;
 		 justify-content: space-around;
	 }

	 .skill-datum {
		 margin-bottom: 20px;
	 }

	 .skill-datum:last-of-type {
		 margin-bottom: 0;
	 }

	 .skill-graphs-form input[type=text] {
		 width: 100%;
		 margin-bottom: 10px;
		 box-sizing: border-box;
		 border: solid 1px rgba(0,0,0,0.6);
		 padding: 10px;
		 border-radius: 10px;
		 text-align: center;
		 transition: 0.2s;
		 font-size: 16px;
	 }

	 .skill-graphs-form input[type=text]:hover {
		 border: solid 1px black;
	 }

	 .skill-graphs-form input[type=text]:focus {
		 border: solid 3px black;
	 }

	 .skill-slider {
	   align-self: center;
	   -webkit-appearance: none;
	   appearance: none;
	   width: 90%;
	   height: 25px;
	   background-color: transparent;
	   background-image: linear-gradient(to bottom, rgba(235, 235, 235, 0), rgba(235, 235, 235, 0) 40%, rgba(235, 235, 235, 1) 50%, rgba(235, 235, 235, 0) 60%, rgba(235, 235, 235, 0) 100%);
	   outline: none;
	   opacity: 0.7;
	   -webkit-transition: .2s;
	   transition: opacity .2s;
	 }

	 .skill-slider:hover {
	     opacity: 1;
	 }

	 .skill-slider::-webkit-slider-thumb {
	     -webkit-appearance: none;
	     appearance: none;
	     width: 25px;
	     height: 25px;
	     cursor: pointer;
	     border-radius: 5px;
	 		background-color: rgba(24, 170, 209, 1);
	 		border: 2px rgba(8, 62, 168, 1);
	 }

	 .skill-slider::-moz-range-thumb {
	     width: 15px;
	     height: 15px;
	     cursor: pointer;
	     border-radius: 5px;
	 		background-color: rgba(24, 170, 209, 1);
	 		border: 2px solid rgba(8, 62, 168, 1);
	 }

	/* Contact */
	 .contact-container {
		color: black;
		padding: 50px;

		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background-color: #eee;
	 }

	 .contact-container h1 {
		 font-size: 30px;
		 padding-bottom: 20px;
		 text-align: center;
	 }

	 .contact-urls-inputs {
		 display: flex;
		 justify-content: space-between;
		 flex-wrap: wrap;
		 padding: 10px 0;
	 }

	 .contact-url-input-container {
		 display: flex;
		 align-items: center;
		 width: 47%;
		 margin: 5px 0;
	 }

	 .contact-url-input-container > input {
		 margin-left: 15px;
		 margin-right: 20px;
		 padding: 10px;
		 font-size: 14px;
		 text-align: center;
		 overflow: hidden;
		 width: 100%;

		 border: solid 1px rgba(0, 0, 0, 0.6);
 	   color: rgba(0, 0, 0, 0.6);
 	   border-radius: 10px;
 	   transition: 0.2s;
	 }

	 .contact-url-input-container > input:hover {
		 color: rgba(0, 0, 0, 1);
		 border: solid 1px rgba(0, 0, 0, 1);
	 }

	 .contact-url-input-container > input:focus {
		 color: rgba(0, 0, 0, 1);
		 border: solid 3px rgba(0, 0, 0, 1);
	 }

	 .contact-url-input-container > input:last-of-type {
		 margin-right: 0;
	 }

	 .locations-inputs {
		 display: flex;
	 }

	 .locations-inputs input {
		 width: 100%;
		 padding: 10px;
		 box-sizing: border-box;
		 margin: 5px 0;

		 border: solid 1px rgba(0, 0, 0, 0.6);
		 color: rgba(0, 0, 0, 0.6);
		 border-radius: 10px;
		 transition: 0.2s;
	 }

	 .locations-inputs input:hover {
		 border: solid 1px rgba(0, 0, 0, 1);
		 color: rgba(0, 0, 0, 1);
	 }

	 .locations-inputs input:focus {
		 border: solid 3px rgba(0, 0, 0, 1);
		 color: rgba(0, 0, 0, 1);
	 }

	 .address-input-container {
		 width: 50%;
		 padding-right: 10px;
	 }

	 .location-input-container {
		 width: 50%;
		 padding-left: 10px;
	 }

	 .contact-links-form {
		 margin-bottom: 30px;
	 }

	 .contact-links-form textarea {
		 width: 100%;
		 padding: 10px;
		 box-sizing: border-box;
		 border: solid 1px rgba(0, 0, 0, 0.6);
		 color: rgba(0, 0, 0, 0.6);
		 border-radius: 10px;
		 transition: 0.2s;
		 font-size: 16px;
		 resize: none;
		 height: 200px;
	 }

	 .contact-links-form textarea:hover {
		 border: solid 1px rgba(0, 0, 0, 1);
		 color: rgba(0, 0, 0, 1);
	 }

	 .contact-links-form textarea:focus {
		 border: solid 3px rgba(0, 0, 0, 1);
		 color: rgba(0, 0, 0, 1);
	 }
/* --- Portfolio Manager --- */
/* Main */

.pm-container p,
.pm-container body,
.pm-container h2,
.pm-container h3,
.pm-container ul,
.pm-container li {
  color: rgba(0, 0, 0, 0.85);
}

.pm-container h2 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 2px;
}

.pm-container,
.pm-flex-1,
.pm-flex-2,
.pm-flex-3,
.pm-chart-container,
.pm-aside-container {
  display: flex;
  /* border: 1px dashed red; */
}

.pm-flex-1,
.pm-flex-3 {
  flex: 1;
}

.pm-flex-2a {
  flex: 1;
}

.pm-flex-2b {
  flex: 3;
}

.pm-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  padding: 50px 0;
}

.pm-header-container {
  margin: 10px 0;
  padding-bottom: 40px;
}

.pm-header-container h2 {
  font-size: 36px;
}

.pm-main-box {
  height: 900px;
  box-sizing: content-box;
  padding: 40px;
  background-color: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
}

.pm-aside-container {
  flex-direction: column;
}

.pm-aside-txt {
  padding-bottom: 50px;
}

.pm-aside-btn {
  padding: 5px 20px;
  border: 1px solid #aaa;
  border-radius: 2px;
}

.pm-aside-btn:hover {
  font-weight: 300;
  color: #fdfdfd;
  border: 1px solid rgba(8, 62, 168, 0.85);
  background-color: rgba(8, 62, 168, 0.85);
}

.pm-aside-btn:focus {
  outline: none;
}

.pm-aside-btn:hover {
  cursor: pointer;
}

.companies-ul {
  position: relative;
  top: 40px;
  border: 1px solid #fafafa;
  border-radius: 2px;
  margin-right: 40px;
  background-color: #fafafa;
}

.companies-ul:first-child {
  border-top: none;
}

.tags-li,
.companies-li {
  letter-spacing: 1px;
  padding: 24px;
  border-top: 1px solid #eee;
}

.tags-li:hover,
.companies-li:hover {
  color: rgba(30, 225, 140, 1);
  background-color: rgba(8, 62, 168, 0.85);
  border: 1px solid rgba(8, 62, 168, 0.85);
  border-radius: 2px;
  cursor: pointer;
}

.pm-chart-container {
  flex-direction: column;
  box-sizing: content-box;
  justify-content: space-around;
  align-items: left;
  border: 1px solid #fdfdfd;
  border-radius: 2px;
}

.chart {
  border: 1px dashed rgba(8, 62, 168, 1);
  display: flex;
  padding: 10px;
  height: 300px;
  width: 100%;
  background-color: #f8f8f8;
  border: 1px solid #f8f8f8;
}

.chart-summary-box {
  width: 100%;
  border: 1px solid rgba(8, 62, 168, 1);
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  font-size: 24px;
  background-color: rgba(8, 62, 168, 1);
}

.pm-aside-txt p,
.pm-intro-txt {
  font-weight: 300;
  color: #888;
  font-size: 16px;
}

.pm-aside-txt p {
  text-align: left;
}

.pm-intro-box {
  position: relative;
  left: 160px;
}

.pm-aside-txt {
  margin-right: 20px;
}

.chart-summary-box ul,
.chart-summary-box li,
.chart-summary-box span {
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: #fdfdfd;
}

.cs-card-title {
  display: flex;
  flex: 1;
  padding: 10px 5px;
  flex-direction: column;
}

.cs-ct-1 {
  align-self: flex-start;
  padding-bottom: 40px;
}

.cs-ct-1 h3 {
  font-weight: 300;
  font-size: 48px;
  color: rgba(255, 201, 69, 1);
}

.cs-ct-2 {
  align-self: flex-start;
  padding-bottom: 20px;
}

.cs-ct-2 h3 {
  font-weight: 700;
  font-size: 36px;
  color: rgba(30, 225, 140, 1);
}

.cs-card-total {
  display: flex;
  flex: 1;
  padding: 10px 5px;
}

.cs-card-list-box {
  padding: 10px 5px;
}

.cs-card-list {
  display: flex;
  flex: 4;
  padding: 10px 5px;
  flex-direction: column;
  border: 1px solid rgba(24, 170, 209, 0.75);
  background-color: rgba(24, 170, 209, 0.75);
  border-radius: 5px;
  margin-top: 30px;
}

.cs-card-list li {
  color: rgba(0, 0, 0, 0.85);
  padding: 10px;
}


/* Recruiter Manager */

.company-name-input:focus, .tags-btn:focus, tags-li {
  outline: none;
}

.company-name-input:focus {
  border: 1px solid black;
}

.page-width {
  width: 100%;
}

.links-manager-container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}


.links-manager-form {
  width: 320px;
  background-color: #f0f0f0;
  min-height: 170px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px black;
  border-radius: 2px;
}

.company-name-input {
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  border-radius: 2px;
  font-size: 16px;
}

/*submit button*/

.links-form-submit-btn {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}


.tags-btn {
  text-align: center;
  padding: 5px 20px;
  margin-bottom: 20px;
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 2px;
  color: rgba(0,0,0,0.58);
  font-size: 16px;
}

.tags-btn:hover {
  font-weight: 400;
  color: rgba(30, 225, 140, 1);
  background-color: rgba(8, 62, 168, 0.85);
  border: 1px solid rgba(8, 62, 168, 0.85);
  cursor: pointer;
}

.tags-ul {
  position: relative;
  top: 20px;
  border-radius: 2px;
  font-size: 16px;
  margin-bottom: 20px;
}

.tags-ul .tags-li {
  text-align: center;
  border: 1px solid #aaa;
  border-bottom: none;
  padding: 5px 20px;
  background-color: white;
  font-size: 16px;
  font-weight: 400;
}

.tags-ul .tags-li:hover {
  background-color: rgba(8, 62, 168, 0.85);
}

.tags-ul:last-child {
  border-bottom: 1px solid #aaa;
}
