/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a,
a:link,
a:hover,
a:active,
a:visited {
  font-family: "lato", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

/* Page Template */

header {
  display: flex;
  justify-content: center;
  background-color: #eee;
}

footer {
  display: flex;
  justify-content: center;
  background-color: #eee;
}

.max-width {
  max-width: 1025px;
  width: 100%;
}

.inner-max-width {
  max-width: 500px;
  width: 100%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.main {
  min-height: calc(100vh - 160px);
}

.flex-center {
  display: flex;
  justify-content: center;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80px;
}

/* Heading Bar */

.header-nav-links {
  display: flex;
  justify-content: space-between;
}

/* Session Form */

.login-form-container {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.login-form-box {
  padding: 30px;
  margin: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  height: 500px;
  border: solid 1px black;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.login-form-box > h1 {
  font-size: 24px;
  font-weight: bold;
}

.login-form-box > h3 {
  font-size: 14px;
}

.login-form-box > h2 {
  font-size: 16px;
}

.login-form > input {
  margin: 10px 0;
  width: 100%;
  padding: 5px;
}

/* --- Portfolio Builder --- */
/* Editing Tools */

.editing-tools-container {
  width: 350px;
  padding: 20px;
  position: fixed;
  background-color: #ffffdd;
  border-radius: 20px;
  z-index: 1;
}

.editing-tools {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 100%;
}

.editing-tools > h1 {
  margin: 10px auto;
  font-size: 30px;
  font-weight: 300;
}

.editing-tools > h2 {
  margin: 10px auto;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.save-progress-btn {
  margin: 10px 0;
  padding: 5px 0;
  font-size: 20px;
  font-weight: 700;
}

.editing-tools-tag-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 10px auto;
}

.editing-tools-tag-form > select {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

.editing-tools-tag-form > p {
  margin: 10px auto;
  width: 100%;
  text-align: center;
}

.editing-tools-tag-form > input {
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.editing-tools-tag-form > .text-input {
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
}

.delete-focus-btn {
  margin: 10px 0;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
}

.editing-tools > h3 {
  margin: 10px 0;
}

.sections-list {
  margin: 10px 0;
}

.preview-btn {
  margin: 10px 0;
  padding: 5px 0;
  font-size: 16px;
  font-weight: 700;
}

.editing-tools-flex-buffer {
  min-width: 350px;
  content: " ";
}

.portfolio-builder-container {
  width: 100%;
  overflow-y: scroll;
}

/* Portfolio Builder Content */

/* Hero */
.hero-container {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://s3-us-west-1.amazonaws.com/recruiter-router-dev/hero-slides/slide2.jpg)
      no-repeat 50% 0;
  background-size: 100% auto;
  width: calc(100vw - 350px);
  height: calc((100vw - 350px) * 0.468795);

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-form {
  border: solid 3px white;
  min-width: 500px;
  width: 67%;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 20px;
}

.hero-form p {
  padding: 0 5px;
  margin: 10px;
}

.hero-form > input {
  background: none;
  border: solid 1px white;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
}

.hero-title {
  height: 20%;
  font-size: 36px;
}

.hero-subtitle {
  height: 60%;
  font-size: 24px;
}

/* --- Portfolio Manager --- */
/* Main */

.pm-container p,
.pm-container body,
.pm-container h2,
.pm-container h3,
.pm-container ul,
.pm-container li {
  color: rgba(0, 0, 0, 0.85);
}

.pm-container h2 {
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 2px;
}

.pm-container,
.pm-flex-1,
.pm-flex-2,
.pm-flex-3,
.pm-chart-container,
.pm-aside-container {
  display: flex;
  border: 1px dashed red;
}

.pm-flex-1,
.pm-flex-3 {
  flex: 1;
}

.pm-flex-2 {
  flex: 7;
}

.pm-flex-2a {
  flex: 1;
}

.pm-flex-2b {
  flex: 3;
}

.pm-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  height: 100%;
  min-height: 900px;
  padding: 50px 0;
}

.pm-aside-container {
  flex-direction: column;
}

.tags-li,
.companies-li {
  padding: 10px;
}

.tags-li:hover,
.companies-li:hover {
  color: rgba(30, 225, 140, 1);
  cursor: pointer;
}

.pm-chart-container {
  flex-direction: column;
  box-sizing: content-box;
  justify-content: flex-start;
  align-items: left;
}

.chart {
  border: 1px dashed #000;
  display: flex;
  padding: 10px;
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.chart-summary-box {
  margin-top: 20px;
  border: 1px dashed #000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cs-card-title {
  display: flex;
  flex: 1;
  padding: 10px 5px;
}

.cs-card-total {
  display: flex;
  flex: 1;
  padding: 10px 5px;
}

.cs-card-list {
  display: flex;
  flex: 4;
  padding: 10px 5px;
  flex-direction: column;
}
