.row
  .col-md-3.col-sm-6
    #service-1.service-item
      .service-icon
        i.fa.fa-file-code-o
      // /.service-icon
      .service-content
        .inner-service
          h3 #{projectTitle}
          p #{projectDescription}
