doctype html
html
  head
    title='<RecruiterRouter/>'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Lato:300,400,400i,700')
    link(rel='shortcut icon', href='https://s3-us-west-1.amazonaws.com/recruiter-router-dev/favicon.ico')
  body

    #root

    script(type='text/javascript', src='/javascripts/bundle.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    if (user)
      script.
        window.currentUser = {
          username: "#{user.username}",
          name: "#{user.name}"
        }
