doctype html
html
  head
    title='<RecruiterRouter/>'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body

    #root

    script(type='text/javascript', src='/javascripts/bundle.js')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    if (user)
      script.
        window.currentUser = {
          username: "#{user.username}",
          name: "#{user.name}"
        }
